.main-screen {
  height: 100vh;
  .container {
    height: 100%;
  }
  &__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: $sp-v-s 0;
  }
  &__header {
    text-align: center;
  }
  &__scroll {
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    .animated-down {
      svg {
        transform: translateY(5px);
        transition: all 10s;
        animation: animate-down 0.5s infinite alternate-reverse;
      }
    }
    &:hover {
      transform: scale(1.1);
      .animated-down svg {
        animation: unset;
      }
    }
  }
  &__logo {
    padding: 0 $container-padding;
  }
}

.about-us {
  .banner-image {
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.mission {
  .subtitle {
    padding: 0;
  }
}

.contacts {
  &__phone a {
    margin-top: $sp-v-m;
    color: $sub-color;
    transition: all 0.6s ease-in-out 0.1s;
    opacity: 1;
    &:after {
      display: none;
    }
    &:hover {
      opacity: 1;
      text-shadow: 1px 1px 5px $prime-color;
      transform: scale(1.05);
      color: $text-color;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-screen {
    &__wrapper {
      padding: $sp-v-s-tablet 0;
    }
    &__logo {
      padding: 0 $container-padding-tablet;
    }
    &__header {
      padding: 0 $sp-v-m-tablet;
    }
  }
  .contacts {
    &__phone a {
      margin-top: $sp-v-m-tablet;
    }
  }
  .trigger {
    right: 20px;
    top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .main-screen {
    &__wrapper {
      padding: $sp-v-s-mobile 0 $sp-v-s-mobile+5;
    }
  }
  .contacts {
    &__phone a {
      margin-top: $sp-v-m-mobile;
    }
  }
  #about-us h1 {
    margin-bottom: $sp-v-mobile * 3.5;
  }
}