.trigger {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 30px;
    right: auto;
    bottom: auto;
    right: 30px;
    z-index: 3;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-color: $prime-color;
    border-radius: 50%;

    span {
      display: block;
      width: 20px;
      height: 2px;
      background: $background-color;
      margin: 0 0 5px 0;
      transition: all 0.8s ease-in-out;
      position: absolute;

      &:first-child {
        top: 16px;
        left: 15px;
      }

      &:nth-child(2) {
        top: 24px;
        left: 15px;
      }

      &:last-child {
        top: 32px;
        left: 15px;
      }
    }

    &.on {
      //top: 40px;
      background-color: $background-color;

      span {
        background: $prime-color;
      }

      span:first-child {
        transform: rotate(45deg);
        top: 24px;
        opacity: 0;
      }

      span:nth-child(2) {
        transform: rotate(-45deg);
        top: 24px;
      }

      span:last-child {
        transform: rotate(45deg);
        top: 24px;
      }
    }
  }

.menu {
  background: $prime-color;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
  color: $background-color;
  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  &__header {
    padding: $sp-v-s 0;
    text-align: center;
  }
  ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    li {
      font-size: $header-font-size;
      font-family: 'Spectral', serif;
      line-height: $header-font-size + $line-height-add * 7;
      font-weight: 800;
      letter-spacing: -0.04em;
      a {
        color: #fff;
        text-decoration: none;
        transition: all 0.6s ease-in-out;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

.menu-opened {
  overflow: hidden;
}
